{% extends 'main_site/base.html' %}

{% block content %}
<h2>Sign up to become a member of The Church of Liam's Back</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
</form>
{% endblock %}