{% extends "main_site/base.html" %}

{% block content %}

<h1>This is a bit akward... we sent our trained monkeys to find that file but they couldn't...</h1>
<h2>Are you sure the url is correct? No typoes? Our monkeys are normally very good at this...</h2>

{% endblock %}