{% extends "main_site/base.html" %}

{% block content %}

<h1>This is a bit akward... we sent our trained monkeys to find that file but they droped it</h1>
<h2>You could try again and it still will not work contact one of our server admins</h2>

{% endblock %}