{% load static %}
<!DOCTYPE html>

<head>
    <title>IDK but i made a website!</title>
    <link rel="stylesheet" href="{% static 'main_site/css/main.css' %}">
</head>

<body>
    <div id="main">
        <div class="header">
            <a href="{% url 'front_page' %}" class="logo">Hi Alex!</a>
            <div class="header-right">
                <!--<a href="{% url 'front_page' %}">Home</a>-->
                <!--<a href="{% url 'join_us' %}">Join Us</a>-->
                <!--<a href="{% url 'about_us' %}">About</a>-->

                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log Out: {{ user.username }}</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}

                <a href="javascript:void(0)" class="menubtn" onclick="toggle()">&#9776;</a>

                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="toggle()">&times;</a>
                    <a href="{% url 'front_page' %}">Home</a>
                    <a href="{% url 'about_us' %}">About</a>
                    <a href="{% url 'join_us' %}">Join</a>
                    <a href="{% url 'contact_us' %}">Contact</a>
                </div>

            </div>
        </div>
        <br />

        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'main_site/scripts/side_bar.js' %}"></script>

</body>

</html>