{% extends "main_site/base.html" %}
{% load static %}

{% block content %}

<img src="{% static 'main_site/images/spiderman116_spideydancing1.gif' %}" alt="Dancing Spider Man" />
<img src="{% static 'main_site/images/ice_cream_volcano.jpg' %}" height=176 alt="Ice Cream Volcano" />
<img src="{% static 'main_site/images/kitten_hugs_bunny.jpg' %}" height=176 alt="Kitten Hugging Bunny" />
<br />
<br />
<img src="{% static 'main_site/images/grass/grass4.jpg' %}" height=176 alt="Grass" id="grass" />
<button>Click Me For A Change Of Grass</button>

<script src="{% static 'main_site/scripts/simba.js' %}"></script>

{% endblock %}